<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
    {{partial "meta-head" .}}
    {{partial "default-style.html" .}}
    {{partial "favicon.html" .}}
    <title>{{.Params.title}}</title>
    {{if .Params.math}}
        {{partial "math.html" .}}
    {{end}}
</head>


<body>
    <header>
        {{partial "navbar.html" .}}
        <h1>{{.Params.title}}</h1>
    </header>
    <div class="meta-container">
        <!-- Series, date metadata -->
        <div class="metadata" {{if not .Params.toc}} style="margin: 0.4rem auto; float: none; margin-bottom: 30px;"{{end}}>
            {{if or (.Params.series) (.Params.date)}}
                {{if .Params.series}}
                    <div><span>Series:</span> <a href="/notes/{{.Params.series | urlize}}">{{.Params.series}}</a></div>
                {{end}}
                {{if .Params.date}}
                    <div style="padding-top: 3px;"><span>Last updated:</span> {{ time.Format "Jan 2, 2006" .Params.date}}</div>
                {{end}}
            {{end}}
        </div>
            <!-- Table of Contents -->
            {{if .Params.toc}}
                {{partial "partials/toc.html" .}}
            {{end}}
    </div>
    <article>
        {{.Content}}
    </article>
    {{partial "footer.html" .}}
    {{partial "analytics.html" .}}
</body>
</html>
