<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
    {{partial "meta-head" .}}
    {{partial "default-style.html" .}}
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    {{partial "favicon.html" .}}
    <title>{{.Params.title}}</title>
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
        <h1>{{.Params.title}}</h1>
    </header>
    <section>
       {{.Content}}
    </section>
    <div>
        {{partial "list-filter.html" .}}
        <ul id="listToFilter" style="display: table; margin: 0 auto; margin-top: 2.5rem;">
            {{range (where .Site.RegularPages "Section" (lower .Params.title)).ByDate.Reverse}}
            <li>{{if .Params.date}} {{time.Format "Jan 2, 2006" .Params.date}} – {{end}}<a href="{{.RelPermalink}}">{{.Params.title}}</a></li>
            {{end}}
        </ul>
    </div>
    {{partial "analytics.html" .}}
</body>
</html>
