<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{partial "meta-head.html" .}}
	{{partial "default-style.html" .}}
	<link rel='stylesheet' type='text/css' href='/css/home.css'>
	{{ partial "favicon.html" .}}
	<title>{{ .Site.Title }}</title>
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
    </header>
        <p style="font-size: 1.2em;margin-top: 2rem;">Hey! </p>
        <p>I share things I learn and make here in public using the hypertext.</p>
    <div class="container">
        <div class="column">
        <h3>Links</h3>
            <ul>
                <li><a href="https://twitter.com/VitCerny1"><strong>Twitter</strong></a></li>
                <li><a href="https://github.com/vcerny01"><strong>GitHub</strong></a></li>
                <li>Get updated with my RSS feeds
                    <ul>
                        <li>For <a href="/articles/index.xml"><strong>articles</strong></a></li>
                        <li>For <a href="/gallery/index.xml"><strong>photos</strong></a>
                    </ul>
                </li>
            </ul>
        </div>
        <div clas="column">
            <h3>Recent posts</h3>
            <ul>
                {{range (first 3 (where .Site.RegularPages ".Page.Params.layout" "not in" (slice "note" "source")).ByDate.Reverse)}}
                    <li>{{time.Format "Jan 2" .Params.date}} – <a href="{{.RelPermalink}}">{{.Params.title}}</a></li>
                {{end}}
            </ul>
            <p style="font-size: 0.75em"><a href="/about/updates-on-notes">Why are new notes not included here?</a></p>
        </div>
        <!-- <div class="column">
            <h3>What can you find here</h3>
            <ul>
                <li>My <a href="/notes"><strong>notes</strong></a></li>
                <li>My <a href="/articles"><strong>articles</strong></a></li>
            </ul>
        </div> -->
<!--         <div class="column">
            <h2>UNDER CONSTRUCTION!</h2>
            <img style="max-width: 400px;" src="/images/main/vaporwave.gif">
        </div> -->
        <!-- <div class="column">
            <a class="twitter-timeline" data-width="400" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/VitCerny1?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div> -->
    </div>
    {{partial "analytics.html" .}}
</body>
</html>
