<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{partial "meta-head.html" .}}
	{{partial "default-style.html" .}}
	<link rel='stylesheet' type='text/css' href='/css/home.css'>
	{{ partial "favicon.html" .}}
	<title>{{ .Site.Title }}</title>
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
    </header>
    <p style="font-size: 1.4em; margin-left: 15vw; margin-top: 4rem; margin-bottom: 3rem;">Hey, this is my website! 👋</p> 
    <div class="container">
        <div class="column">
            <h3>Where can you find me</h3>f
            <ul>
                <li>Posting hot takes on <a href="https://twitter.com/VitCerny1"><strong>Twitter</strong></a></li>
                <li>Sharing my projects at <a href="https://github.com/vcerny01"><strong>GitHub</strong></a></li>
                <li>...and on this site. Get updated with my RSS <a href="/feed.xml"><strong>feed</strong></a></li>
            </ul>
        </div>
        <div clas="column">
            <h3>Recent posts</h3>
        </div>
    </div>
</body>
</html>
