<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{partial "meta-head.html" .}}
	{{partial "default-style.html" .}}
	<link rel='stylesheet' type='text/css' href='/css/home.css'>
	{{ partial "favicon.html" .}}
	<title>{{ .Site.Title }}</title>
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
    </header>

    <div class="container">
        <div class="column">
            Nibh. Aliquam porta eu montes in, dictum in, est ac dictum vulputate. Porta orci mi tempor leo aliquet suscipit blandit. Libero tellus cubilia sodales amet odio nulla. Eu nostra accumsan tristique a netus. Cursus. Pretium libero, justo pharetra parturient phasellus suspendisse leo. Pellentesque. Luctus consequat fringilla adipiscing. Nunc velit porttitor suscipit orci primis sit aliquam. Porttitor curabitur orci blandit non, interdum ultricies. Ve eget hymenaeos ante amet vivamus. A lectus nisi, varius venenatis pretium felis. Ante orci arcu velit diam et rutrum. Cubilia et.
        </div>
        <div class="column">
    Nibh. Aliquam porta eu montes in, dictum in, est ac dictum vulputate. Porta orci mi tempor leo aliquet suscipit blandit. Libero tellus cubilia sodales amet odio nulla. Eu nostra accumsan tristique a netus. Cursus. Pretium libero, justo pharetra parturient phasellus suspendisse leo. Pellentesque. Luctus consequat fringilla adipiscing. Nunc velit porttitor suscipit orci primis sit aliquam. Porttitor curabitur orci blandit non, interdum ultricies. Ve eget hymenaeos ante amet vivamus. A lectus nisi, varius venenatis pretium felis. Ante orci arcu velit diam et rutrum. Cubilia et.
        </div>
        <div class="column">
    Nibh. Aliquam porta eu montes in, dictum in, est ac dictum vulputate. Porta orci mi tempor leo aliquet suscipit blandit. Libero tellus cubilia sodales amet odio nulla. Eu nostra accumsan tristique a netus. Cursus. Pretium libero, justo pharetra parturient phasellus suspendisse leo. Pellentesque. Luctus consequat fringilla adipiscing. Nunc velit porttitor suscipit orci primis sit aliquam. Porttitor curabitur orci blandit non, interdum ultricies. Ve eget hymenaeos ante amet vivamus. A lectus nisi, varius venenatis pretium felis. Ante orci arcu velit diam et rutrum. Cubilia et.
        </div>
    </div>
</body>
</html>
