<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{partial "meta-head" .}}
    {{partial "default-style.html" .}}
    <link rel='stylesheet' type='text/css' href="/css/note.css">
    {{partial "favicon.html" .}}
    <title>{{.Params.title}}</title>
    {{partial "math.html" .}}
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
        <h1>{{.Params.title}}</h1>
    </header>
    <div class="metadata">
        <div class="metainfo">
            <div><span>Series:</span> <a href="{{replace (replace .RelPermalink (path.Base .RelPermalink) "") "//" "/"}}">{{.Params.series}}</a></div>
            {{if .Params.date}}<div style="padding-top: 3px;"><span>Last updated:</span> {{ time.Format "Jan 2, 2006" .Params.date}}</div>{{end}}
        </div>
        <div class="metafilter">
            {{partial "block-filter.html" .}}
        </div>
    </div>
    <article>
        {{.Content}}
    </article>
    {{partial "footer.html" .}}
    <script defer>
        var blocks = document.querySelectorAll("img");
        for(let i = 0; i < blocks.length; i++){
            blocks[i].parentElement.style.listStyleType = "none";
        }
    </script>
    {{partial "analytics.html" .}}
</body>

</html>