<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{partial "meta-head" .}}
    {{partial "default-style.html" .}}
    <link rel='stylesheet' type='text/css' href="/css/photos.css">
    {{partial "favicon.html" .}}
    <title>{{ .Params.title}}</title>
    <!-- Gallery specific things -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
	<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
        <h1>{{ .Params.title }}</h1>
        {{partial "date.html" .}}
    </header>
    <section>
        {{.Content}}
    </section>
    		
	 <article>
		{{$path := (printf "%s%s" "static/images/gallery/" .Params.data)}}
		{{$contents := readDir $path}}
		{{range seq (len $contents)}}
			{{$name := (printf "%s%s" (string .) ".webp")}}
			{{$filename := printf "%s/%s" (replace $path "static" "") $name}}
			{{$desc := ""}}
			{{$name = (replace $name ".jpg" "")}}
			{{range $.Params.descriptions}}
				{{range $ek, $ev := .}}
					{{if eq $ek $name}}
						{{$desc = $ev}}
					{{end}}
				{{end}}
			{{end}}
				<div class="gallery">
					<a href="{{$filename}}" class="glightbox" data-title="{{$desc}}">
						<img src="{{$filename}}" alt="{{$desc}}">
					</a>
				</div>
		{{end}}
	</article>
    {{partial "footer.html" .}}
    <script>
    	const lightbox = GLightbox({
    		touchNavigation: true,
    		loop: false,
    	});
    </script>
</body>
</html>