<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{partial "meta-head" .}}
    {{partial "default-style.html" .}}
    <link rel='stylesheet' type='text/css' href="/css/list.css">
    {{partial "favicon.html" .}}
    <title>{{.Params.title}}</title>
</head>

<style>
    li {
        padding: auto;
        margin: auto;
    }
</style>

<body>
    <header>
        {{partial "navbar.html" .}}
        <h1>{{.Params.title}}</h1>
    </header>
    <section>
        <a href="/notes/{{.Params.source}}"><img src="{{.Params.cover}}" style="max-width: 20vw; max-height: 15rem; float: right; margin: 2rem;"></a>
        {{.Content}}
    </section>
    <div>
        <h4>All items:</h4>
        {{partial "list-filter.html" .}}
        <ul  id="listToFilter" style="display: table; margin: 0 auto; margin-top: 2.5rem;">
        {{range .Params.ordering}}
            <li><a href="/notes/{{urlize $.Params.title}}/{{urlize .}}">{{.}}</a></li>
        {{else}}
            {{range .Site.Pages}}
            {{if eq .Page.Params.series $.Page.Params.title}}
                <li><a href="{{.Page.RelPermalink}}">{{.Page.Params.title}}</a></li>
            {{end}}
            {{end}}
        {{end}}
        </ul>
    </div>
    {{partial "analytics.html" .}}
</body>

</html>
