<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{partial "meta-head" .}}
    {{partial "default-style.html" .}}
    <link rel='stylesheet' type='text/css' href="/css/list.css">
    {{partial "favicon.html" .}}
    <title>{{.Params.title}}</title>
</head>

<body>
    <header>
        {{partial "navbar.html" .}}
        <h1>{{if .Params.title}}{{.Params.title}}{{else}}{{.File.BaseFileName}}{{end}}</h1>
    </header>
    <section>
        {{.Content}}
    </section>
    <div>
        {{partial "list-filter.html" .}}
        <ul id="listToFilter" class="list-image">
        {{range where .Site.Pages ".Params.source" (lower .Params.title)}}
            {{if .Params.cover}}
            <li class="source-item">
                <a href="{{.Page.RelPermalink}}"><img alt="{{.Params.title}}" src="{{.Params.cover}}" style="max-width: 100%; max-height: 100%;"><span style="display: none;">{{.Params.title}}</span></a></li>
            {{end}}
            {{if not .Params.cover}}
            <li class="source-item">
                <a class="no-image-link" href="{{.Page.RelPermalink}}">{{.Params.title}}</a>
            </li>
            {{end}}
        {{end}}
        </ul>
    </div>
    {{partial "analytics.html" .}}
</body>

</html>
